.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    background-color: #aaa;
}
.h1 {
    font-style: 微软雅黑;
    font-size: 14px;
}
.box1 {
    flex-flow: row wrap;
    width: 200px;
    margin: 5px;
    border: 2px #282828;
    padding: 10px;
}
img.box1 {
    margin: 0px;
    display: flex;
}