.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    background-color: #aaa;
}
.h1 {
    font-style: 微软雅黑;
    font-size: 14px;
}
.box1 {
    display: flex;
    justify-content: start;
    flex-flow: column wrap;
    width: 300px;
    margin: 5px;
    border: 2px #282828;
    padding-top: 20px;
}
img.box1 {
    width: 260px;
}